#boxx{
    margin-top: 3%;
}

#mainboxx{
    margin-left: 5%;
    display: flex;
}

#imgg{
    position: relative;
}

#img11{
    margin-top: 5%;
    display: flex;
}

#textt{
    position: relative;
}

#imggg{
    margin-top: 3%;
    
    height: 50%;
   
}

#textt1{
    margin-top: 8%;
    font-weight: bold;
}

#textt2{
    margin-top: 5%;
}

#textt3{
    margin-top: 5%;
}

#textt4{
    margin-top: 5%;
}

#textt5{
    margin-top: 7%;
    font-weight: bold;
}

#textt6{
    margin-top: 5%;
}



#cardd801{
    display: flex;
}

#cardds801{
    display: flex;
    
}



#mainn1{
    display: flex;
}

#tabbbss{
    margin-left: 3%;
}

#phitext{
    margin-top: 5%;
}

#phijatext{
    font-weight: bold;
}

#patanhi{
    display: flex;
}

#ttasc{
    display: flex;
}

#overflow{
    
    height: 750px;
    overflow: scroll;
}

#euro{
    font-size: 0.7rem;
}


#post{
    font-weight: bold;
}

#delivery{
    font-size: 0.7rem;
}

#shipp{
    font-size: 0.7rem;
}

#date{
    font-weight: bold;
}

#place{
    font-weight: bold;
}

#boxx8907{
    background-color: gray;
    width: 40%;
    display: flex;
}

#boxx8906{
    background-color: gray;
    width: 40%;
    display: flex;
    margin-left: 4%;
}

#t1{
    margin-top: 5%;
}

#beer{
    text-align: center;
}

#img12{
    margin-top: 6%
}

#whoo{
    margin-top: 8%;
}

#aboutt{
    margin-top: 5%;
}

#aboutt56{
    margin-top: 10%;
}

#riskhead{
    margin-top: 10%;
    font-size: 1.3rem;
}

#link123{
    margin-top: 5%;
}

#divide{
    margin-top: 10%;
}

#button8765{
    margin-top: 8%;
}

#back202{
    
    font-size: 0.7rem;
}

#container678{
    margin-top: 5%;
    margin-right: 6%;
 
}