@font-face {font-family:"CircularStd-Book";
  src:url('../fonts/CircularStd-Book.otf') format('opentype') }
  @font-face {font-family:"Circular-Air-Light";
      src:url('../fonts/Circular-Air-Light.ttf') format('truetype') }
      @font-face {font-family:"Montserrat-Light";
        src:url('../fonts/Montserrat-Light.ttf') format('truetype') }


#FirstGridForlocation {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 10%;
}

#headingoflocation {
  text-align: center;
  font-size: 1.7rem;
  padding-top: 20px;
}

#pafterhead3 {
  text-align: center;
  color: rgb(128, 128, 128);
  font-size: 19px;
  font-weight: 400;
  font-family: "Montserrat-Light" !important;
}
#catBack{
  color: gray;
  font-weight: 400;
  font-size: 12px;
  font-family: "Montserrat-Light" !important;
}
#boxofdropdowns3 {
  padding-top: 3%;
}
#Dropdownn1h1 {
  width: 100%;
  border-radius: 0px;
}
#lineafterD {
  color: rgb(0, 0, 0);
  padding: 4px 13px 0px;
  font-size: 14px;
  font-family: "Montserrat-Light" !important;
  font-weight: 600;
}
#divider3 {
  padding-top: 10%;
}

#Grid2ndForlocation {
  padding-top: 30px;
}
#arrowicoN {
  padding-top: 10px;
  font-size: 1.4rem;
}
#buttoncoloroflocation {
  background-color: #464646;
  border-radius: 0px;
  font-family: "Circular-Air-Light" !important;
  font-weight: 100;
  font-size: 12px;
  color: white;
  text-transform: none;
  letter-spacing: 1px;
}

#buttoncoloroflocation:hover {
  background-color: rgb(2, 2, 2);
  border-radius: 0px;
  color: white;
}

#TypoGrid2oflocation {
  color: grey !important;
  font-size: 0.9rem;
  padding-top: px;
  text-transform: none;
  padding-bottom: 20px;
}

#lineinbottomofGrid3 {
  font-size: 0.7rem;
  color: rgb(168, 167, 167);
  padding-top: 15%;
  font-weight: 100;
  text-align: center;
}
#buttoncolorofLocationLink{
  color: white !important;
}