@font-face {font-family:"CircularStd-Book";
    src:url('../../component/fonts/CircularStd-Book.otf') format('opentype') }
    @font-face {font-family:"Circular-Air-Light";
        src:url('../../component/fonts/Circular-Air-Light.ttf') format('truetype') }
        @font-face {font-family:"Montserrat-Light";
          src:url('../../component/fonts/Montserrat-Light.ttf') format('truetype') }
          @font-face {font-family:"Montserrat-Regular";
            src:url('../../component/fonts/Montserrat-Regular.ttf') format('truetype') }

            @font-face {font-family:"Montserrat-Bold";
                src:url('../../component/fonts/Montserrat-Bold.ttf') format('truetype') }
*{
    font-family:"Montserrat-Regular"
}

#TopTitle{
    font-size: 14px;
    padding: 5px;
    font-family: "Montserrat-Regular";
    font-weight: 400;
}

#CardDescription{
    font-size: 12px;
    color: #696969;
    font-family: "Montserrat-Regular" !important;
    font-weight: 400;
    
}

#CardSubTitle{
    font-size: 16px !important;
    color: rgb(30, 30, 30) !important;
    font-family: "Montserrat-Regular" !important;
    font-weight: 500; 
    padding: 5px 0px;
}

#CardProjectBy{
    font-size: 10px;
    color: #696969;
    font-family: "Montserrat-Regular" !important;
    font-weight: 600; 
    padding: 5px 0px;

}

#footerCard{

    padding: 5px;
}

#footertext{
    font-size: 12px;
    color: #696969;
    font-family: "Montserrat-Regular" !important;
    font-weight: 500; 
    padding: 2px 0px;
}

#footerSpan{
    font-size: 12px;
    color: #444444;
    font-family: "Montserrat-Regular" !important;
    font-weight: 500; 
    padding: 0px 5px;
}
#cardLocationIcon{
    font-size: 13px;
}

#GridforWeLove{
    display: flex;
    text-align: center;
    justify-content:center;
    margin-bottom: 30px;
    padding: 50px;
}

#cardContainer{
    display: flex;
    /* text-align: center; */
    justify-content:center;
    margin-top: 30px;
     padding: 50px;
    }

#cardSection{
    margin: 30px 10px;
}
#Typo1forWeLove{
    text-align: center;
    font-size: 2rem;
}
#Typo2forWeLove{
    text-align: center;
    font-size: 2rem;
    color: green;
}

#ButtonofLoadmore{
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    margin-bottom: 20%;
    margin-top: 7%;
}

