#Grid1OfStoryScreen {
    justify-content: center;
    padding-top: 10%;
}

#typo1ofstory {
    text-align: center;
    font-size: 1.7rem;
}

#typo1ofstory2 {
    text-align: center;
    color: grey;
    padding-top: 1%;
    padding-bottom: 4%;
}

#TypOofStory2 {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
}

#TypOofStory3 {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
    display: flex;
}

#Typoheadingofgrid2 {
    font-weight: 500;
}

#paraofstoryscreen {
    font-size: 0.8rem;
    color: rgb(158, 156, 156);
}

#boxofstoryscreen {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 60vh;
    border: inherit;
    overflow: visible;
    border: 1px solid #E8E8E8;
    box-sizing: inherit;

}

#boxofstoryscreen:hover {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 60vh;
    border: 1px solid;
    border-color: purple;
    box-sizing: inherit;
}

#headlineofboxstory {
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
}

#iconofheadlinesinbox {
    padding-bottom: 4px;
    font-size: 1.2rem;
    padding-left: 15px;
}

#paraofstoryscreen2 {
    font-size: 0.9rem;
    color: grey;
    text-align: center;
    padding-top: 20px;

}
.textfielfchanged{
    width: 100%;
 
}
#boxofstoryscreen2 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 20vh;
    border: inherit;
    overflow: visible;
    border: 1px solid #E8E8E8;
    font-size: 0.8rem;
}
#boxofstoryscreen2:hover {
    font-size: 0.8rem;
    border: 1px solid;
    width: 100%;
    border-color: purple;
}
#paraofstoryscreen3 {
    font-size: 0.8rem;
    color: rgb(158, 156, 156);
    padding: 10px;
}

#inpiutbAse{
    
    margin-left: 10%;
}
.input {
    display: inline;
    width: 70%;
    font-size: 15px;
    font-family: Times;
    border: 0px;
    font-weight: lighter;
    color: grey;
    outline: none;
    margin: 2px;
    margin-left: 17%;
    user-select: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
#risksx{
    display: inline;
    font-size: 14px;
    font-family: Times;
    border: 0px;
    font-weight: lighter;
    color: grey;
    outline: none;
    margin: 2px;
    margin-left: 1%;
    user-select: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
#buttonofstoryscreen4 {
    text-transform: none;
    font-size: 0.8rem;
    padding: 5px;
}

#Buttonofbackinrewards {
    text-transform: none;
    color: black;
}

#GRIDoFlAST {
    padding-top: 7%;
    padding-left: 5%;
}

#ButtonofStORYforSave {
    display: flex;
    justify-content: right;
    padding-right: 5%;
    padding-left: 5%;
}
@media (min-width:100px) and (max-width:1200px) {
    #iconofheadlinesinbox {
        padding-bottom: 4px;
        font-size: 0.7rem;
        padding-left: 3px;
    }
    .input {
        display: inline;
        width: 95%;
        font-size: 12px;
        font-family: Times;
        border: 0px;
        font-weight: lighter;
        color: grey;
        outline: none;
        margin: 2px;
        margin-left: 0%;
        user-select: text;
        white-space: pre-wrap;
        overflow-wrap: break-word;
      }
    
}