#tab1{
    
 
    padding-left: 28%;
    padding-top: 18px;
    
}



#iicon1{
   color: blue;
}

#button5{
margin-left: 10%;
padding-left: 10%;
padding-top: 5%;
}
#ttab1{
    color: black;
}
#tabb5{
    margin-left: 90%;
}
#tabb2{
    margin-left: 30%;
}