#FirstGridForSubCategory {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 10%;
}

#headingofCatergoryscreen2 {
  text-align: center;
  font-size: 1.7rem;
  padding-top: 20px;
}

#pafterhead2 {
  text-align: center;
  color: rgb(128, 128, 128);
}
#boxofdropdowns2 {
  padding-top: 3%;
}
#Dropdownn1h1 {
  width: 100%;
  border-radius: 0px;
}

#divider2 {
  padding-top: 10%;
}

#Grid2ndForCategory2 {
  padding-top: 30px;
}

#buttoncolorofCategory2 {
  background-color:#1b59c7;
  border-radius: 0px;
  color: white;
  padding-left: 8%;

  text-transform: none;
  float: right;
}

#buttoncolorofCategory2:hover {
  background-color: rgb(2, 2, 2);
  border-radius: 0px;
  color: white;
}

#TypoGrid2ofCategory2 {
  color: grey;
  font-size: 0.9rem;
  padding-top: px;
  text-transform: none;
  padding-bottom: 20px;
}

#lineinbottomofGrid2 {
  font-size: 0.7rem;
  color: rgb(168, 167, 167);
  padding-top: 15%;
  font-weight: 100;
  text-align: center;
}
#iconSubcatgeory {
  padding-top: 10px;
  font-size: 1.4rem;
}
#buttoncolorofCategory2Link{
  color: white !important;
}