@font-face {font-family:"CircularStd-Book";
  src:url('../fonts/CircularStd-Book.otf') format('opentype') }
  @font-face {font-family:"Circular-Air-Light";
      src:url('../fonts/Circular-Air-Light.ttf') format('truetype') }
      @font-face {font-family:"Montserrat-Light";
        src:url('../fonts/Montserrat-Light.ttf') format('truetype') }

#FirstGridForCategory {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 10%;
}

#headingofCatergoryscreen {
  text-align: center;
  font-size: 1.7rem;
  padding-top: 20px;
}
#busyu {
  justify-content: center;
}
#pafterhead {
  text-align: center;
    color: rgb(128, 128, 128);
    font-size: 19px;
    font-weight: 400;
    font-family: "Montserrat-Light" !important;
}
#boxofdropdowns {
  padding-top: 7%;
}
#Dropdownn1 {
  width: 100% !important;
  border-radius: 0px;
}

#divider {
  padding-top: 10%;
}

#Grid2ndForCategory {
  padding-top: 20px;
}

#buttoncolorofCategory {
  background-color: #464646;
  border-radius: 0px;
  font-family: "Circular-Air-Light" !important;
  font-weight: 100;
  font-size: 12px;
  color: white;
  text-transform: none;
  letter-spacing: 1px;
}

#buttoncolorofCategory:hover {
  background-color: rgb(2, 2, 2);
  border-radius: 0px;
  color: white;
}

#TypoGrid2ofCategory {
  color: grey;
  font-size: 0.9rem;
  padding-top: 5px;
}

#lineinbottomofGrid {
  font-size: 0.8rem;
  color: rgb(168, 167, 167);
  padding-top: 10%;
  font-weight: 100;
  text-align: center;
}
#buttoncolorofCategoryLink{
  color: white !important;
}