@font-face {font-family:"CircularStd-Book";
    src:url('../../../fonts/CircularStd-Book.otf') format('opentype') }
    @font-face {font-family:"Circular-Air-Light";
        src:url('../../../fonts/Circular-Air-Light.ttf') format('truetype') }
        @font-face {font-family:"Montserrat-Light";
          src:url('../../../fonts/Montserrat-Light.ttf') format('truetype') }
          @font-face {font-family:"Montserrat-Regular";
            src:url('../../../fonts/Montserrat-Regular.ttf') format('truetype') }

            @font-face {font-family:"Montserrat-Bold";
                src:url('../../../fonts/Montserrat-Bold.ttf') format('truetype') }

#TypOofStory3 {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
    display: flex;
}

#Typoheadingofgrid2 {
    font-weight: 500;
}

#paraofstoryscreenz {
    font-size: 0.9rem;
    color: rgb(94, 93, 93);
}

#boxofstoryscreen2 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 20vh;
    border: inherit;
    overflow: visible;
    border: 1px solid #E8E8E8;
}

#paraofstoryscreen3 {
    font-size: 0.8rem;
    color: rgb(158, 156, 156);
    padding: 10px;
}

#buttonofstoryscreen4 {
    text-transform: none;
    font-size: 0.8rem;
    padding: 5px;
}

#GRIDoFlAST {
    padding-top: 7%;
    padding-left: 5%;
}

#Buttonofbackinrewards {
    text-transform: none;
    color: black;
}

#ButtonofStORYforSave {
    display: flex;
    justify-content: right;
    padding-right: 5%;
    padding-left: 5%;
}

#buttoonssofpeople2 {
    background-color: rgb(92, 91, 91);
    padding-left: 45%;
    margin-top: 2%;
    padding-right: 51%;
    margin-left: 0%;
    text-transform: none;
    border-radius: none;
}

#buttoonssofpeople2:hover {
    background-color: rgb(0, 0, 0);
    padding-left: 45%;
    margin-top: 2%;
    padding-right: 51%;
    margin-left: 0%;
    text-transform: none;
    border-radius: none;
}

#PeopleScreensTypo1 {
    text-align: center;
    margin-top: 5%;
    font-size: 1.7rem;
    font-family: "Montserrat-Bold";
    font-weight: 400;
}

#PeopleScreensTypo2 {
    text-align: center;
    margin-top: 1%;
    font-size: 1rem;
    color: grey;
}

#dividerafterpeopletypo2 {
    margin-top: 4%;
}

#anyt {
    font-size: 0.8rem;
}

#buttonofstoryscreen4x {
    text-transform: none;
    font-size: 0.8rem;
    padding-left: 500px;
}

#fullWidthx {
    height: 30vh;
    background-color: #f3f1f1;
}

#insertphotoicon {
    margin-left: 45%;
    margin-top: 7%;
    font-size: 2.2rem;
}

#typoaftarinsert {
    padding-left: 30%;
    font-size: 0.8rem;
}

#typoaftarinsert2 {
    padding-left: 30%;
    font-size: 0.7rem;
    color: grey;
}

#togglebuttonGroup {
    margin-top: 40px;
    margin-left: 60px;
    margin-bottom: 20px;
}

#kskjcksjc {
    margin-left: 20px;
    font-size: 0.9rem;
    margin-top: 10px;
}

#fullWidthxx {
    width: 100%;
}

#somegaponsubcat {
    margin: 15px;
}

#textfieldsubcategoryss {
    margin-top: 15px;
}


@media (min-width:100px) and (max-width:800px) {
    #insertphotoicon {
        margin-left: 40%;
        margin-top: 7%;
        font-size: 2.2rem;
    }

    #typoaftarinsert {
        padding-left: 15%;
        font-size: 0.8rem;
    }

    #typoaftarinsert2 {
        padding-left: 0%;
        font-size: 0.7rem;
        color: grey;
    }

    #fullWidthxx {
        width: 70%;
    }

    #buttonofstoryscreen4 {
        font-size: 0.5rem;
    }

    #togglebuttonGroup {
        margin-top: 40px;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    #GRIDoFlAST {
        display: flex;
    }
}