@font-face {
    font-family: "Montserrat-Regular";
    src: url('../fonts/Montserrat-Regular.ttf') format('opentype')
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype')
}

*{
    font-family: "Montserrat-Regular";
}
#color{
    color: #494949;
}
#imgsizeoflogo {
    width: 45% !important;
    /* padding-left: 120%;
    padding-top: 14px; */
}

#LogoStyling{
    display: flex;
    justify-content: center !important;
    padding: 16px 0px 0px 60px;
}

#StartaProject {
    color: #494949;
    font-weight: 100;
    display: flex;
    justify-content: start !important;
    font-family: "Montserrat-Regular";
    padding: 25px 0px 0px 0px;
}

#Discover{
    color: #000000;
    display: flex;
    justify-content: center !important;
    font-family: "Montserrat-Regular";
    padding: 23px 0px 0px 0px;
}

#search{
    color: #494949;
    font-weight: 100;
    display: flex;
    justify-content: end !important;
    font-family: "Montserrat-Regular";
    padding: 25px 0px 0px 0px;
}

#searchField{
    color: #494949;
    font-weight: 100;
    display: flex;
    justify-content: end !important;
    font-family: "Montserrat-Regular";
    padding: 0px 0px 0px 8px;
}



#Login {
    color: #494949 !important;
    font-weight: 100;
    display: flex;
    justify-content: center !important;
    font-family: "Montserrat-Regular";
    padding: 25px 0px 0px 0px;
}

#loginLink{
    color: #494949 !important;
}

#istSection{
      padding: 15px 15px 30px 15px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat-Regular" !important;
}
#iistSection{
      padding: 15px 15px 30px 15px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat-Regular" !important;
}
#iiistSection{
      padding: 15px 15px 30px 15px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat-Regular" !important;
}

@media (min-width: 100px) and (max-width: 600px) {

    #imgsizeoflogo {
        width: 55% !important;
        /* padding-left: 120%;
        padding-top: 14px; */
    }
    
    #LogoStyling{
        display: flex;
        justify-content: start!important;
        padding: 22px 0px 8px 22px;
    }
    
    #StartaProject {
        display: none;
    }
    
    #Discover{
        display: none;
    }
    
    #search{
    display: none;
    }
    
    #searchField{
        display: none;
    }
    
    
    
    #Login {
       display: none;
    }
    #istSection{
  
    font-size: 10px;
   
}
#iistSection{

    font-size: 10px;
 
}
#iiistSection{
 
    font-size: 10px;
  
 
    
}
}