@font-face {
    font-family: "Circular-Air-Light";
    src: url('../fonts/Circular-Air-Light.ttf') format('truetype')
}

@font-face {
    font-family: "Circular-Air-Medium";
    src: url('../fonts/Circular-Air-Medium.ttf') format('truetype')
}

@font-face {
    font-family: "Circular-Air-Bold";
    src: url('../fonts/Circular-Air-Bold.ttf') format('truetype')
}

@font-face {
    font-family: "CircularStd-Black";
    src: url('../fonts/CircularStd-Black.otf') format('opentype')
}

@font-face {
    font-family: "CircularStd-Book";
    src: url('../fonts/CircularStd-Book.otf') format('opentype')
}

.our-press-sec {
    padding: 50px 0;
}

.making-sec h4 {
    color: #bdbdbd;
    font-weight: 400;
    font-size: 21px;
    margin: 10px 0;
}

.our-press-box img {
    width: 100%;
}

.our-press-box p {
    color: #282828;
    font-family: Circular-Air-Light;
    font-size: 14px;
    line-height: 26px;
    font-weight: 100;
    margin: 0;
}

.our-press-box h2 {
    margin: 18px 0 0 0;
    font-family: "Circular-Air-Bold";
    color: #282828;
    font-size: 18px;
    margin-bottom: 15px;
}

.our-press-box h3 {
    color: #bdbdbd;
    font-weight: 400;
    font-size: 20px;
    margin: 8px 0;
}

.our-press-box a {
    color: #282828;
    font-family: "Circular-Air-Bold";
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.our-press-sec h5 {
    color: #bdbdbd;
    font-weight: 400;
    font-size: 21px;
    margin: 0;
}

.our-press-sec h4 {
    margin: 9px 0 18px;
    font-family: "Circular-Air-Bold";
    color: #282828;
    font-size: 37px;
}

@media (min-width:100px) and (max-width:1200px) {
    .our-press-sec {
        width: 270%;
    }
   
    }

    @media  (min-width : 100px) and (max-width : 410px){
        .our-press-sec {
            width: 340%;
        }
       
    }