#boxcl09{
    background-color: rgb(240, 240, 240);
   text-align: center;
   padding: 2%;
  
}

#boxcl009{
    background-color: rgb(240, 240, 240);
    margin-top: 2%;
   
    padding: 2%;
}

#boxcl00999{
    background-color: rgb(240, 240, 240);
    margin-top: 2%;
    font-size: 0.8rem;
   
    padding: 5%;
}

#boxcv78{
   
    padding: 1%;
    background-color: white;
}

#boxcv78987{
    padding: 1%;
    background-color: white;
    margin-top: 3%;

}

#texxtt12{
    font-size: 1.5rem;
    margin-left: 3%;
    font-weight: bold;
}

#texxtt142{
    font-size: 0.8rem;
    margin-left: 3%;
    margin-top: 5%;
}

#wholetext123{
    font-size: 1rem;
    margin-top: 4%;
}

#wholeecardd89{
    justify-content: center;
    align-items: center;
    margin-left: 11%;
}

#wholeecardd8989{
    justify-content: center;
    margin-top: 3%;
    align-items: center;
    margin-left: 11%;
}

#philjame123{
    margin-top: 3%;
}

#wholeecardd86759{
    justify-content: center;
    margin-top: 3%;
    align-items: center;
    margin-left: 11%;
}

#wholeecardd891{
    justify-content: center;
    margin-top: 3%;
    align-items: center;
    margin-left: 11%;
}

#buttontext123{
    justify-content: center;
    align-items: center;
    text-align: center;
}

#newstack12{
    margin-top: 2%;
    margin-bottom: 2%;
}

#newstack123{
    margin-top: 5%;
    margin-bottom: 2%;
}
#newstack1234{
    margin-top: 5%;
    margin-bottom: 2%;
}

#peopletexxtt12{
    font-size: 0.8rem;
    margin-top: 1%;
    margin-left: 1%;
}

#next567656{
    
    margin-bottom: 3%;
}