/* #con3 {
    background-color: rgb(245, 245, 245);
    padding-left: 10%;
} */

#box1 {
    /* padding-top: 50px; */
    background-color: #f8f8f8;
    /* padding-bottom: 50px; */
    
}

#t1 {
    color: #bdbdbd;
    font-weight: 400;
    font-size: 18px;
    font-family: "Circular-Air-Medium";
    padding-left: 10%;
}

#t2 {
    margin: 0 0 22px 0;
    font-family: "Circular-Air-Bold";
    color: #282828;
    font-size: 36px;
    padding-left: 10%;
}

#t3 {
    color: #bdbdbd;
    font-weight: 400;
    font-size: 18px;
    font-family: "Circular-Air-Medium";
    /* padding-left: 10%; */
}

#t4 {
    font-family: "Circular-Air-Bold";
    color: #282828;
    font-size: 19px;
    margin-top: 5px;
}

#t5 {
    font-family: "Circular-Air-bold";
    color: #1b59c7;
    font-size: 15px;
}

.MuiInputBase-input.css-yz9k0d-MuiInputBase-input {
    position: relative;
}

#t6 {
    color: #282828;
    font-family: Circular-Air-Light;
    font-size: 15px;
}

#a1 svg {
    position: absolute;
    right: 54px;
    top: 10px;
}

/* #hr1 {
    width: 80%;
    color: grey;
} */
#hr1 {
    display: none;
}

#con3 svg {
    color: #000;
    border: solid #c6c6c6 2px;
    border-radius: 50px;
    font-size: 20px;
    padding: 6px 7px;
    margin: 5px 6px 0 0;
}

#main1 {
    border-bottom: solid #e3e3e3 1px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#con3 {

    border-left: solid #e3e3e3 1px;
    padding: 80px 65px 80px 65px;
}

#con1 {
    padding: 80px 10% 80px 0;
}

#t7 {
    margin: 26px 0 18px 0;
    font-family: "Circular-Air-Bold";
    color: #282828;
    font-size: 29px;
    line-height: 40px;
    padding-left: 10%;
}

#t8 {
    margin: 0 0 17px 0;
    font-family: "Circular-Air-Bold";
    color: #282828;
    font-size: 36px;
}

/* #img3 {
    padding-left: 17%;
} */

/* #main1 {
    padding-top: 5%;
    padding-right: 15%;
} */

#t9 {
    padding-left: 10%;
    color: #282828;
    font-family: Circular-Air-Light;
    font-size: 18px;
    line-height: 26px;
    font-weight: 100;
    margin: 0;
}

@media (min-width: 100px) and (max-width:1210px) {

    #t9 {
        padding-left: 10%;
        color: #282828;
        font-family: Circular-Air-Light;
        font-size: 18px;
        line-height: 26px;
        font-weight: 100;
        margin: 0;
        width: 80%;
    }
    #con1 {
        padding: 80px 10% 80px 0;
    }

    #box1 {
        /* padding-top: 50px; */
        background-color: #f8f8f8;
        /* padding-bottom: 50px; */
        width: 270%;
        justify-content: center;
    }
    #t8 {
        margin: 0 0 17px 0;
        font-family: "Circular-Air-Bold";
        color: #282828;
        font-size: 4rem;
    }
    #con3 {

        border-left: solid #e3e3e3 1px;
        padding: 100px 85px 100px 85px;
        padding-left: 10%;
    }
    #t1 {
        color: #bdbdbd;
        font-weight: 400;
        font-size: 1.5rem;
        font-family: "Circular-Air-Medium";
        padding-left: 10%;
    }
    #t2 {
        margin: 0 0 22px 0;
        font-family: "Circular-Air-Bold";
        color: #282828;
        font-size: 4rem;
        padding-left: 10%;
    }
    #t3 {
        color: #bdbdbd;
        font-weight: 400;
        font-size: 1.8rem;
        font-family: "Circular-Air-Medium";
        /* padding-left: 10%; */
    }
    
    #main1 {
        border-bottom: solid #e3e3e3 1px;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    #t4 {
        font-family: "Circular-Air-Bold";
        color: #282828;
        font-size: 2.9rem;
        margin-top: 5px;
        padding-left: 170%;
    }

    #t5 {
        font-family: "Circular-Air-bold";
        color: #1b59c7;
        font-size: 2rem;
        padding-left: 170%;
    }

    #t6 {
        color: #282828;
        font-family: Circular-Air-Light;
        font-size: 2rem;
        padding-left: 170%;
    }

    #img3 {
        padding-top: 20px;
        width: 212%;
    }

    #fdsfsfscs {
        padding-left: 170%;
        display: flex;
    }
}

@media (min-width: 100px) and (max-width: 450px) {

  

    #box1 {
        /* padding-top: 50px; */
        background-color: #f8f8f8;
        /* padding-bottom: 50px; */
        width: 340%;
        justify-content: center;
    }

    #con3 {

        border-left: solid #e3e3e3 1px;
        padding: 100px 85px 100px 85px;
        padding-left: 20%;
    }

    #main1 {
        border-bottom: solid #e3e3e3 1px;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

  

   

    #t4 {
        font-family: "Circular-Air-Bold";
        color: #282828;
        font-size: 2.2rem;
        margin-top: 5px;
        padding-left: 70%;
    }

    #t5 {
        font-family: "Circular-Air-bold";
        color: #1b59c7;
        font-size: 1.3rem;
        padding-left: 70%;
    }
    #t6 {
        color: #282828;
        font-family: Circular-Air-Light;
        font-size: 1.3rem;
        padding-left: 70%;
    }

    #img3 {
        padding-top: 20px;
        width: 132%;
    }

    #fdsfsfscs {
        padding-left: 70%;
        display: flex;
    }
    #t9 {
        padding-left: 10%;
        color: #282828;
        font-family: Circular-Air-Light;
        font-size: 18px;
        line-height: 26px;
        font-weight: 100;
        margin: 0;
        width: 80%;
    }
    #con1 {
        padding: 80px 10% 80px 0;
    }

    #box1 {
        /* padding-top: 50px; */
        background-color: #f8f8f8;
        /* padding-bottom: 50px; */
        width: 270%;
        justify-content: center;
    }
    #t8 {
        margin: 0 0 17px 0;
        font-family: "Circular-Air-Bold";
        color: #282828;
        font-size: 4rem;
    }
    #con3 {

        border-left: solid #e3e3e3 1px;
        padding: 100px 85px 100px 85px;
        padding-left: 10%;
    }
    #t1 {
        color: #bdbdbd;
        font-weight: 400;
        font-size: 1.5rem;
        font-family: "Circular-Air-Medium";
        padding-left: 10%;
    }
    #t2 {
        margin: 0 0 22px 0;
        font-family: "Circular-Air-Bold";
        color: #282828;
        font-size: 4rem;
        padding-left: 10%;
    }
    #t3 {
        color: #bdbdbd;
        font-weight: 400;
        font-size: 1.8rem;
        font-family: "Circular-Air-Medium";
        /* padding-left: 10%; */
    }
}
@media  (min-width : 100px) and (max-width : 410px){
    #box1 {
        width: 340%;
    }
   
}