#typo1stofcommunity {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 7%;
}

#Grid1stofGridofcommunity2 {
    padding-left: 13%;
    padding-right: 13%;
    margin-top: 2%;

}

#Grid2stofGridofcommunity2 {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 2%;
    margin-bottom: 10%;
    display: flex;
    width: 100%;
}

#TypoOfGrid2Communitys {
    text-align: center;
    font-size: 1.2rem;
}

#GridofButtonCommunity1 {
    display: flex;

}

#DSFSF {
    text-transform: none;
}

#ytoins {
    margin-left: 43%;
    margin-top: 1.5%;
}

#Dividerofcommunitydivided {
    margin-right: 8%;
}

#TypoofNewBackerss {
    font-size: 1.5rem;
    text-align: center;

}

#TypoofNewBackerss2 {
    font-size: 1.5rem;
    padding-left: 270%;
    text-align: center;

}